/*@import url(http://reset5.googlecode.com/hg/reset.min.css);*/

a { text-decoration: none; }

html { padding-top: 32px; font-family: sans-serif; font-size: 14px;}
body { background-color: #ebebeb; margin: 0; }
#nav-back { position: fixed; top: 0; left: 0; width: 140px; background: #ebebeb; height: 100%; }
#nav { position: fixed; width: 140px; background: #ebebeb;  color: #000; padding-top: 10px; left: 0; }
#nav-content { font-size: 12px; padding: 0 10px; }
#nav-content a { text-decoration: none; color: #000; display: block; padding: 12px 0 12px 30px; }
#nav-content .active a { color: #fff; }
#content { margin-left: 140px; height: 100%; overflow-x: hidden; }
h3 { margin: 16px 0 0 10px; }
#header { height: 32px; position: fixed; top: 0; left: 0; width: 100%; min-width: 600px; z-index: 99999; background: #444444; }
#body { position: relative;  padding: 0 0 65px 0; overflow: auto; min-width: 860px; }
#body-content { width: 100%; overflow: visible!important; }
.wrap { position: relative; }
.wrap p { padding: 20px 0 5px 4px;  font-size: 12px; }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { background-color: #f0523f; }
#sectionHeaderContainer { margin: 15px 0 25px 0; overflow: auto;}
.sectionText { margin: 0 10px 0 0; float: left; }

/**
 * Welcome page
 */

#form-signup { width: 400px; margin: 40px auto 0 auto; }
.form-control { margin-bottom: 5px; }



/**
 * Home page
 */
#uploads-index { font-size: 12px; }
#header-container { display: table; border-spacing: 0; width: 100%; }
.header { background: #444444; color: #fdf7ef;  }
.header-text { font-weight: bold; }
.row { display: table; border-spacing: 0; width: 100%; border-bottom: solid 2px #ccc; }
.row-text { padding: 5px; }
#thumbnail-header { width: 113px; border-right: solid 2px #fff; }
#name-header { border-right: solid 2px #fff; }
#size-header { width: 98px; border-right: solid 2px #fff; }
#type-header { width: 118px; border-right: solid 2px #fff; }
#created-header { width: 100px; }
.preview { width: 115px; text-align: center; }
.size { width: 100px; }
.mime { width: 120px; }
.created { width: 100px; }
.upload-name { position: relative; white-space: nowrap; overflow: hidden; }
.upload-inner { position: absolute; top: 5; left: 5; }
.preview-container { padding: 5px 0 5px 15px;}
.thumb { height: 85px; width: 85px; overflow: hidden; margin: 0 auto; }
.uploadCheckbox { float: left; margin: 0; }
input[type=checkbox] { margin: 0; }
#uploadCheckboxBatch { margin-top: 3px; }
#uploadSelectBatch { display: inline-block; margin: 0 10px 0 0; }
#uploadBatchOptions { margin-bottom: 5px; clear: both; float: left; width: 200px;}
#filters { float: right; width: 428px; }
.pagination { margin: 10px 0 0 10px; }
.pagination li { display: inline; }
.pagination a, span { display: inline-block; padding: 0 10px 0 10px; }
td { border-bottom: 1px solid #ddd; }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { background-color: #f0523f;  color: #fdf7ef; border-color: #f0523f;  }
.pagination>li>a, .pagination>li>span { background-color: #444444; color: #fdf7ef; }
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {background-color: #444444; color: #fdf7ef;}
.uploadInput { margin: 0 0 0 10px; display: inline-block; }

/**
 * Upload
 */

#drop-area { padding: 100px 0px 100px 0px; text-align: center; border: dashed 2px #ccc; color: #ccc; }
.drop-hover { border: dashed 2px #f0523f!important; color: #f0523f!important; }
#downloads { overflow: auto; font-size: 12px; border-collapse: collapse; }
#downloads th { padding: 5px 5px; background: #444444 !important; border-left: solid 2px #fff; border-right: solid 2px #fff; color: #fdf7ef; }
#downloads th:first-child { padding: 5px 5px; background: #ccc; border-left: 0;}
#downloads th:last-child { padding: 5px 5px; background: #ccc; border-right: 0;}
#downloads td { padding: 5px 5px; }
#size-header { width: 100px; }
#progress-header { width: 100px; }
#complete-header { width: 80px; }
#status-header { width: 250px; }
.upload-name { position: relative; white-space: nowrap; overflow: hidden; }
.upload-name-inner { position: absolute; top: 5; left: 5; }
.upload-size { width: 100px; }
.upload-progress { width: 100px; }
.upload-complete { width: 80px; text-align: center; }
.upload-status { width: 250px; }
.progress { margin: 0; width: 100%; height: 10px; z-index: 0; background-color: #eee; border-radius: 2px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;}
.progress::-webkit-progress-bar { background-color: whiteSmoke; }
.failedUpload::-webkit-progress-bar { background-color: #d22000; color: #fff; }
.succeededUpload::-webkit-progress-bar { background-color: #73ac3a; }



progress[value]::-webkit-progress-bar {
        border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
    -webkit-animation: animate-stripes 5s linear infinite;

}

@-webkit-keyframes animate-stripes { 100% { background-position: -100px 0px; } }
@keyframes animate-stripes { 100% { background-position: -100px 0; } }

.progress::-webkit-progress-value  {
background-image:
-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), /* adds stripe */
-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), /* adds detail */ 
-webkit-linear-gradient(left, #22a6e5, #22a6e5); /* controls gradient colour */


}                                                                                                                                                                                                                                                                                                                                                                                                     
.progress::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
    -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
    -moz-linear-gradient( left, #09c, #f44);
}

